In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
from pylab import *

In [2]:
h = ['age', 'workclass', "fnlwgt", "education", "education-num", "marital-status", "occupation","relationship", "race", "sex", "capital-gain", "capital-loss","hours-per-week", "native-country","Income"]
adult_df = pd.read_csv("adult.data", header= None, sep=',\s', na_values='?')
adult_df.head()
adult_df.columns = h

C:\Users\nitis\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.

In [3]:
adult_df.apply(lambda x:sum(x.isnull()),axis=0)

age                  0
workclass         1836
fnlwgt               0
education            0
education-num        0
marital-status       0
occupation        1843
relationship         0
race                 0
sex                  0
capital-gain         0
capital-loss         0
hours-per-week       0
native-country     583
Income               0
dtype: int64

In [4]:
adult_df = adult_df.fillna({"workclass": "Unknown"})
adult_df = adult_df.fillna({"occupation": "Unknown"})
adult_df = adult_df.fillna({"native-country": "Unknown"})

In [5]:
adult_df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,Income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [6]:
adult_df.describe()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [7]:
adult_df["native-country"].value_counts()

United-States                 29170
Mexico                          643
Unknown                         583
Philippines                     198
Germany                         137
Canada                          121
Puerto-Rico                     114
El-Salvador                     106
India                           100
Cuba                             95
England                          90
Jamaica                          81
South                            80
China                            75
Italy                            73
Dominican-Republic               70
Vietnam                          67
Guatemala                        64
Japan                            62
Poland                           60
Columbia                         59
Taiwan                           51
Haiti                            44
Iran                             43
Portugal                         37
Nicaragua                        34
Peru                             31
Greece                           29
France                           29
Ecuador                          28
Ireland                          24
Hong                             20
Trinadad&Tobago                  19
Cambodia                         19
Laos                             18
Thailand                         18
Yugoslavia                       16
Outlying-US(Guam-USVI-etc)       14
Honduras                         13
Hungary                          13
Scotland                         12
Holand-Netherlands                1
Name: native-country, dtype: int64

In [11]:
a = adult_df['native-country'].unique().tolist()
a.remove("United-States")
a

['Cuba',
 'Jamaica',
 'India',
 'Unknown',
 'Mexico',
 'South',
 'Puerto-Rico',
 'Honduras',
 'England',
 'Canada',
 'Germany',
 'Iran',
 'Philippines',
 'Italy',
 'Poland',
 'Columbia',
 'Cambodia',
 'Thailand',
 'Ecuador',
 'Laos',
 'Taiwan',
 'Haiti',
 'Portugal',
 'Dominican-Republic',
 'El-Salvador',
 'France',
 'Guatemala',
 'China',
 'Japan',
 'Yugoslavia',
 'Peru',
 'Outlying-US(Guam-USVI-etc)',
 'Scotland',
 'Trinadad&Tobago',
 'Greece',
 'Nicaragua',
 'Vietnam',
 'Hong',
 'Ireland',
 'Hungary',
 'Holand-Netherlands']

In [9]:
adult_df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,Income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [13]:
# adult_df['native-country'] =
adult_df['native-country'].replace(a, 'Other',inplace=True)

In [24]:
a = adult_df["native-country"].replace("Other")
a

0        United-States
1        United-States
2        United-States
3        United-States
4                 Cuba
5        United-States
6              Jamaica
7        United-States
8        United-States
9        United-States
10       United-States
11               India
12       United-States
13       United-States
14             Unknown
15              Mexico
16       United-States
17       United-States
18       United-States
19       United-States
20       United-States
21       United-States
22       United-States
23       United-States
24       United-States
25       United-States
26       United-States
27               South
28       United-States
29       United-States
             ...
32531    United-States
32532    United-States
32533            Japan
32534    United-States
32535    United-States
32536    United-States
32537    United-States
32538    United-States
32539    United-States
32540    United-States
32541    United-States
32542    United-States
32543    United-States
32544    United-States
32545    United-States
32546    United-States
32547           Mexico
32548    United-States
32549    United-States
32550    United-States
32551    United-States
32552    United-States
32553           Taiwan
32554    United-States
32555    United-States
32556    United-States
32557    United-States
32558    United-States
32559    United-States
32560    United-States
Name: native-country, Length: 32561, dtype: object

In [8]:
for i in h:
    print(adult_df[i].unique())

[39 50 38 53 28 37 49 52 31 42 30 23 32 40 34 25 43 54 35 59 56 19 20 45 22
 48 21 24 57 44 41 29 18 47 46 36 79 27 67 33 76 17 55 61 70 64 71 68 66 51
 58 26 60 90 75 65 77 62 63 80 72 74 69 73 81 78 88 82 83 84 85 86 87]
['State-gov' 'Self-emp-not-inc' 'Private' 'Federal-gov' 'Local-gov'
 'Unknown' 'Self-emp-inc' 'Without-pay' 'Never-worked']
[ 77516  83311 215646 ...,  34066  84661 257302]
['Bachelors' 'HS-grad' '11th' 'Masters' '9th' 'Some-college' 'Assoc-acdm'
 'Assoc-voc' '7th-8th' 'Doctorate' 'Prof-school' '5th-6th' '10th' '1st-4th'
 'Preschool' '12th']
[13  9  7 14  5 10 12 11  4 16 15  3  6  2  1  8]
['Never-married' 'Married-civ-spouse' 'Divorced' 'Married-spouse-absent'
 'Separated' 'Married-AF-spouse' 'Widowed']
['Adm-clerical' 'Exec-managerial' 'Handlers-cleaners' 'Prof-specialty'
 'Other-service' 'Sales' 'Craft-repair' 'Transport-moving'
 'Farming-fishing' 'Machine-op-inspct' 'Tech-support' 'Unknown'
 'Protective-serv' 'Armed-Forces' 'Priv-house-serv']
['Not-in-family' 'Husband' 'Wife' 'Own-child' 'Unmarried' 'Other-relative']
['White' 'Black' 'Asian-Pac-Islander' 'Amer-Indian-Eskimo' 'Other']
['Male' 'Female']
[ 2174     0 14084  5178  5013  2407 14344 15024  7688 34095  4064  4386
  7298  1409  3674  1055  3464  2050  2176   594 20051  6849  4101  1111
  8614  3411  2597 25236  4650  9386  2463  3103 10605  2964  3325  2580
  3471  4865 99999  6514  1471  2329  2105  2885 25124 10520  2202  2961
 27828  6767  2228  1506 13550  2635  5556  4787  3781  3137  3818  3942
   914   401  2829  2977  4934  2062  2354  5455 15020  1424  3273 22040
  4416  3908 10566   991  4931  1086  7430  6497   114  7896  2346  3418
  3432  2907  1151  2414  2290 15831 41310  4508  2538  3456  6418  1848
  3887  5721  9562  1455  2036  1831 11678  2936  2993  7443  6360  1797
  1173  4687  6723  2009  6097  2653  1639 18481  7978  2387  5060]
[   0 2042 1408 1902 1573 1887 1719 1762 1564 2179 1816 1980 1977 1876 1340
 2206 1741 1485 2339 2415 1380 1721 2051 2377 1669 2352 1672  653 2392 1504
 2001 1590 1651 1628 1848 1740 2002 1579 2258 1602  419 2547 2174 2205 1726
 2444 1138 2238  625  213 1539  880 1668 1092 1594 3004 2231 1844  810 2824
 2559 2057 1974  974 2149 1825 1735 1258 2129 2603 2282  323 4356 2246 1617
 1648 2489 3770 1755 3683 2267 2080 2457  155 3900 2201 1944 2467 2163 2754
 2472 1411]
[40 13 16 45 50 80 30 35 60 20 52 44 15 25 38 43 55 48 58 32 70  2 22 56 41
 28 36 24 46 42 12 65  1 10 34 75 98 33 54  8  6 64 19 18 72  5  9 47 37 21
 26 14  4 59  7 99 53 39 62 57 78 90 66 11 49 84  3 17 68 27 85 31 51 77 63
 23 87 88 73 89 97 94 29 96 67 82 86 91 81 76 92 61 74 95]
['United-States' 'Cuba' 'Jamaica' 'India' 'Unknown' 'Mexico' 'South'
 'Puerto-Rico' 'Honduras' 'England' 'Canada' 'Germany' 'Iran' 'Philippines'
 'Italy' 'Poland' 'Columbia' 'Cambodia' 'Thailand' 'Ecuador' 'Laos'
 'Taiwan' 'Haiti' 'Portugal' 'Dominican-Republic' 'El-Salvador' 'France'
 'Guatemala' 'China' 'Japan' 'Yugoslavia' 'Peru'
 'Outlying-US(Guam-USVI-etc)' 'Scotland' 'Trinadad&Tobago' 'Greece'
 'Nicaragua' 'Vietnam' 'Hong' 'Ireland' 'Hungary' 'Holand-Netherlands']
['<=50K' '>50K']

In [9]:
# Univariate Analysis
# Gender and Income
adult_df['Income'] = adult_df['Income'].replace(['<=50K'], 0)
adult_df['Income'] = adult_df['Income'].replace(['>50K'], 1)

#print("\nMales <=50K", adult_df["Income"][adult_df["sex"] == 'Male'].value_counts()[0])
#print("Females <=50K", adult_df["Income"][adult_df["sex"] == 'Female'].value_counts()[0])
#print("Males >50K" ,adult_df["Income"][adult_df["sex"] == 'Male'].value_counts()[1])
#print("Females >50K" ,adult_df["Income"][adult_df["sex"] == 'Female'].value_counts()[1])
a = adult_df.shape
a[1]
num_vars = [var for var in range(0,a[1]) if adult_df.iloc[:,var].dtypes == 'int64']
num_vars

[0, 2, 4, 10, 11, 12, 14]

In [13]:
adult_tr.drop("native-country", inplace=True,axis=1)
adult_tr.head()

In [10]:
cat_v = adult_df.select_dtypes(include=['object'])
cat_v.columns

Index(['workclass', 'education', 'marital-status', 'occupation',
       'relationship', 'race', 'sex', 'native-country'],
      dtype='object')

In [11]:
for var in cat_v.columns:
    cat_list = 'var'+'_'+var
    cat_list = pd.get_dummies(adult_df[var], prefix=var)
    data1=adult_df.join(cat_list)
    adult_df = data1

adult_df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,...,native-country_Puerto-Rico,native-country_Scotland,native-country_South,native-country_Taiwan,native-country_Thailand,native-country_Trinadad&Tobago,native-country_United-States,native-country_Unknown,native-country_Vietnam,native-country_Yugoslavia
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,...,0,0,0,0,0,0,1,0,0,0
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,...,0,0,0,0,0,0,1,0,0,0
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,...,0,0,0,0,0,0,1,0,0,0
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,...,0,0,0,0,0,0,1,0,0,0
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,...,0,0,0,0,0,0,0,0,0,0

In [12]:
data_vars=adult_df.columns.values.tolist()
to_keep=[i for i in data_vars if i not in cat_v.columns]
len(to_keep)

109

In [13]:
print(len(list(adult_df.columns)))

117

In [16]:
data_final=adult_df[to_keep]
cols = data_final.columns.values
type(cols)
cols[6]
cols = np.delete(cols,6)
len(cols)

108

In [17]:
data_final_vars=data_final.columns.values.tolist()
y=['Income']
X=[i for i in cols if i not in y]
data_final_vars.remove("Income")
len(data_final_vars)

108

In [18]:
from sklearn import datasets
from sklearn.feature_selection import RFE
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression()
rfe = RFE(logreg, 18)
rfe = rfe.fit(data_final[X], data_final[y] )
print(rfe.support_)
print(rfe.ranking_)
ab = rfe.support_

C:\Users\nitis\Anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

[False False False False False False False False False False False False
 False False  True  True  True False False False  True  True False False
 False  True False  True  True  True False False  True  True False False
 False False False False False False False  True False  True  True False
 False False False False False False False False  True False False False
 False False False False False False False False False  True False  True
 False False False False False False False False False False False False
 False False False False False False False  True False False False False
 False False False False False False False False False False False False]
[70 78 51 77 76 68 66 24 84 25 73 22 21 23  1  1  1 11 64 60  1  1 18 19 67
  1 13  1  1  1 16 43  1  1 42 15 41 48 69 86 75  7  3  1 17  1  1 36 37 39
 35 63 10 45 65  2  1 44  8 20 54 53 14 55  9 50 85 32 88  1 38  1 57 12 28
 26 29 47 71 61 90 82 83 89 49 52 81 31 74 27 80  1  4  6 34 30 58 62 46 91
 40 56 87 59 33 72  5 79]

In [19]:
cols = cols[ab].tolist()
cols

['workclass_Without-pay',
 'education_10th',
 'education_11th',
 'education_7th-8th',
 'education_9th',
 'education_Doctorate',
 'education_Masters',
 'education_Preschool',
 'education_Prof-school',
 'marital-status_Married-AF-spouse',
 'marital-status_Married-civ-spouse',
 'occupation_Handlers-cleaners',
 'occupation_Other-service',
 'occupation_Priv-house-serv',
 'relationship_Own-child',
 'native-country_Columbia',
 'native-country_Dominican-Republic',
 'native-country_Mexico']

In [20]:
X=data_final[cols]
y=data_final['Income']

In [21]:
import statsmodels.api as sm
logit_model=sm.Logit(y,X)
result=logit_model.fit()
print(result.summary())

C:\Users\nitis\Anaconda3\lib\site-packages\statsmodels\compat\pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools

Warning: Maximum number of iterations has been exceeded.
         Current function value: 0.514185
         Iterations: 35
                           Logit Regression Results
==============================================================================
Dep. Variable:                 Income   No. Observations:                32561
Model:                          Logit   Df Residuals:                    32543
Method:                           MLE   Df Model:                           17
Date:                Mon, 19 Mar 2018   Pseudo R-squ.:                 0.06853
Time:                        18:10:45   Log-Likelihood:                -16742.
converged:                      False   LL-Null:                       -17974.
                                        LLR p-value:                     0.000
=====================================================================================================
                                        coef    std err          z      P>|z|      [0.025      0.975]
-----------------------------------------------------------------------------------------------------
workclass_Without-pay               -18.5869   4024.562     -0.005      0.996   -7906.583    7869.410
education_10th                       -2.0436      0.135    -15.130      0.000      -2.308      -1.779
education_11th                       -2.1022      0.137    -15.373      0.000      -2.370      -1.834
education_7th-8th                    -2.2983      0.166    -13.838      0.000      -2.624      -1.973
education_9th                        -2.2839      0.202    -11.314      0.000      -2.680      -1.888
education_Doctorate                   1.1318      0.116      9.739      0.000       0.904       1.360
education_Masters                     0.3317      0.051      6.493      0.000       0.232       0.432
education_Preschool                 -21.2233   9975.055     -0.002      0.998   -1.96e+04    1.95e+04
education_Prof-school                 1.1447      0.099     11.523      0.000       0.950       1.339
marital-status_Married-AF-spouse      0.1467      0.457      0.321      0.748      -0.749       1.042
marital-status_Married-civ-spouse     0.0055      0.019      0.296      0.767      -0.031       0.042
occupation_Handlers-cleaners         -2.0356      0.115    -17.742      0.000      -2.260      -1.811
occupation_Other-service             -2.5939      0.089    -29.246      0.000      -2.768      -2.420
occupation_Priv-house-serv           -4.5034      1.005     -4.479      0.000      -6.474      -2.533
relationship_Own-child               -3.9206      0.123    -31.767      0.000      -4.163      -3.679
native-country_Columbia              -3.0575      0.730     -4.191      0.000      -4.487      -1.628
native-country_Dominican-Republic    -2.5616      0.732     -3.499      0.000      -3.997      -1.127
native-country_Mexico                -2.1981      0.184    -11.972      0.000      -2.558      -1.838
=====================================================================================================

C:\Users\nitis\Anaconda3\lib\site-packages\statsmodels\base\model.py:496: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)

In [28]:
from sklearn.cross_validation import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
logreg = LogisticRegression(max_iter=10000)
logreg.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=10000, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [29]:
y_pred = logreg.predict(X_test)
print('Accuracy of logistic regression classifier on test set: {:.2f}'.format(logreg.score(X_test, y_test)))

Accuracy of logistic regression classifier on test set: 0.79

In [60]:
adult_m = adult_df.loc[adult_df["sex"] == 'Male']
adult_f = adult_df.loc[adult_df["sex"] == 'Female']

In [ ]:
ct = pd.crosstab(adult_df['sex'], adult_df['Income'])
counts = adult_df['sex'].value_counts()

In [ ]:
adult_df.dtypes
num_vars = [var for var in range(0,a[1]) if adult_df.iloc[:,var].dtypes == 'object']
print(num_vars)
num_vars.pop()
num_vars.pop()
num_vars.pop()
adult_df.head()
print(num_vars)

In [38]:
#int_vars = [var for var in adult_df.columns if adult_df.iloc[:,var].dtypes == 'int64']
#int_vars
adult_df.dtypes
adult_df_num = adult_df.select_dtypes(exclude=['object'])
adult_df_num.head()

   age  fnlwgt  education-num  capital-gain  capital-loss  hours-per-week
0   39   77516             13          2174             0              40
1   50   83311             13             0             0              13
2   38  215646              9             0             0              40
3   53  234721              7             0             0              40
4   28  338409             13             0             0              40

In [41]:
from sklearn.preprocessing import StandardScaler
adult_df_std = StandardScaler().fit_transform(adult_df_num)
adult_df_std

array([[ 0.03067056, -1.06361075,  1.13473876,  0.1484529 , -0.21665953,
        -0.03542945],
       [ 0.83710898, -1.008707  ,  1.13473876, -0.14592048, -0.21665953,
        -2.22215312],
       [-0.04264203,  0.2450785 , -0.42005962, -0.14592048, -0.21665953,
        -0.03542945],
       ...,
       [ 1.42360965, -0.35877741, -0.42005962, -0.14592048, -0.21665953,
        -0.03542945],
       [-1.21564337,  0.11095988, -0.42005962, -0.14592048, -0.21665953,
        -1.65522476],
       [ 0.98373415,  0.92989258, -0.42005962,  1.88842434, -0.21665953,
        -0.03542945]])

In [ ]:
ct2 = pd.crosstab([adult_df['workclass'],adult_df['sex']], adult_df['Income'],margins=True)
print(ct2.iloc[:,:], "\n")
ct3 = pd.crosstab(adult_df['workclass'], adult_df['Income'])
print(ct3.iloc[:,:], "\n")
ct3.plot(kind='bar', figsize=(15,6), title="Count of Females vs Work class", yticks=range(0,20000,2000))

In [ ]:
totala = ct2.iloc[-1,0]
print(totala)
totalb = ct2.iloc[-1,1]
print(totalb)
total = ct2.iloc[-1,2]
print(total)
print("% <=50K = ",(totala/total)*100)
print("% >50K = ",(totalb/total)*100)

In [ ]:

#ct1.plot(width= width1, kind='bar',figsize=(10,6), subplots=False, yticks=range(0,12000,1000), stacked = False, position=0.5, ax=a1)

figure(figsize=(20,20))
a1 = plt.subplot(3,2,1)
width1 = 1
ct1 = pd.crosstab(adult_m['Income'], adult_m['workclass'])
ct1.plot(width= width1, kind='bar', subplots=False, yticks=range(0,12000,2000), stacked = False, position=0.5, ax=a1)

# Education
a2 = plt.subplot(3,2,2)
ct2 = pd.crosstab(adult_m['Income'], adult_m['education'])
ct2.plot(kind='bar', subplots=False, ax=a2)

# Martial Status
a3 = plt.subplot(3,2,3)
ct3 = pd.crosstab(adult_m['Income'], adult_m['marital-status'])
ct3.plot(kind='bar', subplots=False , ax=a3)

# Occupation
a4 = plt.subplot(3,2,4)
ct4 = pd.crosstab(adult_m['Income'], adult_m['occupation'])
ct4.plot(kind='bar', subplots=False, ax=a4)

# Relationship
a5 = plt.subplot(3,2,5)
ct5 = pd.crosstab(adult_m['Income'], adult_m['relationship'])
ct5.plot(kind='bar', subplots=False, ax=a5)

# Race
a6 = plt.subplot(3,2,6)
ct6 = pd.crosstab(adult_m['Income'], adult_m['race'])
ct6.plot(kind='bar', subplots=False, ax=a6)


plt.tight_layout(pad=0.4,h_pad=0.5,w_pad=1)

In [ ]:
#fig, axs = plt.subplots(1, 2, figsize=(9, 3))
#axs[0] = sns.barplot(x="sex", y="Income", data=adult_df)
#axs[1] = sns.barplot(x="workclass", y="Income", data=adult_df);

# Code to plot a Stacked bar chart.
#adult_df.groupby(['sex', 'Income']).size().unstack().plot.bar(stacked=True)



ed = adult_df["education"].unique().tolist()
ed
n_groups = 4
#edu = []
for i in ed:
    print("Income <=50k and education = ",i," - ", adult_df["Income"][adult_df["education"] == i].value_counts()[0])
print("")
for j in ed:
    print("Income >50k and education = ",j," - ", adult_df["Income"][adult_df["education"] == j].value_counts()[1])



#ed1 = adult_df["education"][adult_df["Income"] == 1].value_counts()[0]
#ed1

#print(adult_df["Income"][adult_df["sex"] == 'Male'].value_counts()[0])
#print(adult_df["Income"][adult_df["sex"] == 'Female'].value_counts()[0])
#print(adult_df["Income"][adult_df["sex"] == 'Male'].value_counts()[1])
#print(adult_df["Income"][adult_df["sex"] == 'Female'].value_counts(

In [ ]:
import numpy as np
import matplotlib.pyplot as plt

N = 5
menMeans = (20, 35, 30, 35, 27)
menStd =   (2, 3, 4, 1, 2)

ind = np.arange(N)  # the x locations for the groups
width = 0.35       # the width of the bars


plt.subplot(111)
rects1 = plt.bar(ind, menMeans, width,
                    color='r',
                    yerr=menStd,
                    error_kw=dict(elinewidth=6, ecolor='pink'))

womenMeans = (25, 32, 34, 20, 25)
womenStd =   (3, 5, 2, 3, 3)
rects2 = plt.bar(ind+width, womenMeans, width,
                    color='y',
                    yerr=womenStd,
                    error_kw=dict(elinewidth=6, ecolor='yellow'))

# add some
plt.ylabel('Scores')
plt.title('Scores by group and gender')
plt.xticks(ind+width, ('G1', 'G2', 'G3', 'G4', 'G5') )

plt.legend( (rects1[0], rects2[0]), ('Men', 'Women') )

def autolabel(rects):
    # attach some text labels
    for rect in rects:
        height = rect.get_height()
        plt.text(rect.get_x()+rect.get_width()/2., 1.05*height, '%d'%int(height),
                ha='center', va='bottom')

autolabel(rects1)
autolabel(rects2)

plt.show()